input/*.pkl filter=lfs diff=lfs merge=lfs -text
extended-ibtracs/*.nc filter=lfs diff=lfs merge=lfs -text
ibtracs/*.csv filter=lfs diff=lfs merge=lfs -text
extended-ibtracs/extended-ibtracs_NA.nc filter=lfs diff=lfs merge=lfs -text
extended-ibtracs/extended-ibtracs_NI.nc filter=lfs diff=lfs merge=lfs -text
extended-ibtracs/extended-ibtracs_SA.nc filter=lfs diff=lfs merge=lfs -text
extended-ibtracs/extended-ibtracs_SI.nc filter=lfs diff=lfs merge=lfs -text
extended-ibtracs/extended-ibtracs_SP.nc filter=lfs diff=lfs merge=lfs -text
extended-ibtracs/extended-ibtracs_WP.nc filter=lfs diff=lfs merge=lfs -text
extended-ibtracs/EU_tracks_with_E-OBS.nc filter=lfs diff=lfs merge=lfs -text
extended-ibtracs/extended-ibtracs_EP.nc filter=lfs diff=lfs merge=lfs -text
ibtracs/ibtracs_SA.csv filter=lfs diff=lfs merge=lfs -text
ibtracs/ibtracs_SI.csv filter=lfs diff=lfs merge=lfs -text
ibtracs/ibtracs_SP.csv filter=lfs diff=lfs merge=lfs -text
ibtracs/ibtracs_WP.csv filter=lfs diff=lfs merge=lfs -text
ibtracs/ibtracs_EP.csv filter=lfs diff=lfs merge=lfs -text
ibtracs/ibtracs_NA.csv filter=lfs diff=lfs merge=lfs -text
ibtracs/ibtracs_NI.csv filter=lfs diff=lfs merge=lfs -text
input/TRACK-ERA5.pkl filter=lfs diff=lfs merge=lfs -text
input/TRACK-JRA3Q.pkl filter=lfs diff=lfs merge=lfs -text
input/TRACK-MERRA2.pkl filter=lfs diff=lfs merge=lfs -text
input/TRACK-NCEP.pkl filter=lfs diff=lfs merge=lfs -text
input/tracks_WCSI.pkl filter=lfs diff=lfs merge=lfs -text
input/tracks_with_CPS_data.pkl filter=lfs diff=lfs merge=lfs -text
input/SyCLoPS-ERA5.pkl filter=lfs diff=lfs merge=lfs -text
input/TRACK-ECMWF-OP-AN.pkl filter=lfs diff=lfs merge=lfs -text
input/SyCLoPS-JRA3Q.pkl filter=lfs diff=lfs merge=lfs -text
input/SyCLoPS-MERRA2.pkl filter=lfs diff=lfs merge=lfs -text
